<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Detection</title>
</head>
<body>
    <form action="{{ url_for('result') }}" method="post" enctype="multipart/form-data">
        <select name="model" id="model">
            <option value="yolov11.pt">YOLO v11</option>
            <option value="yolov8.pt">YOLO v8</option>
        </select>
        <input type="file" id="image" name="image">
        <input type="submit">
    </form>
</body>
</html>