body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: "Roboto", sans-serif;
    color: white;
}

#bg {
    position: absolute;
}

.container {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    /* position: absolute; */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label + * {
    margin-bottom: 10px;
}


