body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Roboto", sans-serif;
    color: white;
}

@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

body {
    background: linear-gradient(244deg, #FEAC5E, #C779D0, #4BC0C8);
    background-size: 600% 600%;
    animation: AnimationName 40s ease infinite;
}


#bg {
    position: absolute;
}

.container {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    /* position: absolute; */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label + * {
    margin-bottom: 10px;
}

input[type^="submit"] {
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
}

select {
    padding: 3px;
    border-radius: 20px;
}